include *.md
include LICENSE
include NOTICE
include setup.py
include twitter_bootstrap/*.py
include twitter_bootstrap/static/css/*.css
include twitter_bootstrap/static/img/*.png
include twitter_bootstrap/static/js/*.js
