include *.rst
include LICENSE
include NOTICE
include setup.py
include static_django_twitter_bootstrap/*.py
include static_django_twitter_bootstrap/static/css/*.css
include static_django_twitter_bootstrap/static/img/*.png
include static_django_twitter_bootstrap/static/js/*.js
